.container {
  margin-top: 40px;
}

table {
  margin: 40px auto;
  table-layout: fixed;
  width: 90%;
  max-width: 1000px;
  text-align: left;
}

th {
  font-weight: 300;
  background-color: #fff;
  padding: 10px 20px;
  width: 30%;
  word-wrap: break-word;
}

td {
  font-weight: 300;
  padding: 10px 20px;
  word-wrap: break-word;
  background-color: #fff;
}
